<?xml version="1.0"?>
<launch>
  <include file="$(find strands_karl)/launch/strands_navigation.launch">
    <arg name="with_chest_xtion" value="true"/>
    <arg name="chest_xtion_machine" value="amsterdam"/>
    <arg name="chest_xtion_user" value="scitos"/>

    <arg name="with_head_xtion" value="true"/>
    <arg name="head_xtion_machine" value="bruxelles"/>
    <arg name="head_xtion_user" value="scitos"/>

    <arg name="map" value="$(find strands_karl)/resources/maps/umic_1st_floor.yaml"/>
    <arg name="topological_map" value="umic_1st_floor"/>

    <arg name="with_site_movebase_params" value="true"/>
    <arg name="site_movebase_params" value="$(find strands_karl)/resources/maps/umic_1st_floor-nav.yaml"/>

    <arg name="subsample_resolution" default="0.02"/>
    <arg name="subsample_min_points" default="2"/>
    <arg name="subsample_skip_points" default="10"/>

    <arg name="positionUpdate" default="true"/>

    <!-- <arg name="z_stair_threshold" value="0.2"/> -->
    <!-- <arg name="z_obstacle_threshold" value="0.1"/> -->
  </include>
</launch>
